@font-face { 
  font-family: logan;
  src: url("logan-font.otf");
   }

#main {
  margin: 0 auto;
  width: 960px; 
  color: black;
  height: 1000px;
}
.header {
  height: 550px;
  background: blue;
  margin: 0 auto;
  background: url("lion.jpg") no-repeat;
  background-size: cover;
  padding-top: 5px;
}
.header h1 {
  color: white;
  font-family: logan;
  margin: 20px 0 0 40px; 
}
 
.header h2 {
  font-size: 40px;
  font-family: logan;
}
.title {
  color: white;
  width: 220px;
  margin: 150px 0px 0 130px;
}

.title span {
  display: block;
  margin-bottom: 40px;
  font-size: 9px;
  letter-spacing: 3px;  
  color: #BDBDBD ;
  font-family: Arial;
  font-weight: bold;
}

.title p {
  margin-top: 20px;
  font-size: 10px;
  color: #A4A4A4;
}

.pics {
  margin: 125px 0 0 0;
  background: white;
  height: 80%;
}

.pics .first--article{
  height: 250px;
  width: 560px;
  margin: 125px 200px 125px 200px;
 }

.pics .second--article{
  height: 250px;
  width: 560px;
  margin: 0 200px 125px 200px;

}

.pics .think {
  color: black;
  font-family: logan;
  margin: 20px 0 0 40px; 
  letter-spacing: 1px;
}

.pics .pic {
  width : 184.79px;
  height: 250px;
  float: left;
  background: url(colimacon.jpg) no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}
.pics .pic2 {
  width : 184.79px;
  height: 250px;
  float: left;
  background: url(deer.webp) no-repeat;
  background-size: 100% 100%;}

.pics .grey {
  width: 184.79px;
  background: #E6E6E6;
  height: 250px;
  float: left;
}
.pics .white {
  width: 190px;
  background: white;
  height: 250px;
  float: left;
}

.white span {
  display: block;
  font-size: 9px;
  color: #BDBDBD ;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 3px;
}
.think {
  width: 30px;
}
.pics .white .n1 {
  margin-top: 120px;
  color: black;
  letter-spacing: 0px;
 }

.pics .white .n2 {
  margin-top: 90px;
  margin-left: 180px;
  color: black;
  letter-spacing: 0px;
 }
 .white .trait p{
  font-size: 10px;
  color: #6E6E6E;
 }
.deer {
  font-family: logan;
 }

 .white p{
  font-size: 10px;
  color: #6E6E6E;
 }

.art {
  font-family: logan;
  height: 2000px;
  width: 560px;
  margin: 125px 200px 125px 200px;
}
 .art span {
  display: block;
  font-size: 9px;
  color: #BDBDBD ;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 3px;
 }

/* #trait {
  border-top: 2px solid black;
  width: 95px;
  font-size: 10px;
 }*/